#1. 


*,-,/,+ are expression

'hello', -87.8, 6 are values

#2. defference between string and variable


A variable is such  an entity which can store data in any data-type. a variable may be integer, float or string.

A string is a datatype, it consists of words enclosed in " ".

#3. Describe three datatypes


int : it is integer

float: it is real numbers. it has digits after the point. e.g., 4.0, 4.23 etc.

string: it consists of words or number enclosed in double quotes or single quotes.

#4. what is expression made up of? what do all expressions do?


expression is made of operators and operands. e.g., 4+5, 4/5

expressions produce new value.

#5. differnce between expression and statement

expression  gives some value. but expression perform some action e.g., if statement...

#6. bacon=22 
bacon+1

after completion of the code bacon contains 22

#7. 

'spam' + 'spamspam' becomes 'spamspamspam'

'spam'*3 becomes 'spamspamspam'

#8. eggs is valid variable but 100 is not.

variable names cannot begin with numbers

#9.

int()

float()

str()

#10. 

'I have eaten' is string but 99 is an integer. string and integer can not be added.

to fix the error we have to put 99 under double or single quotes. i.e., '99'